{{ define "main" }}
	<main id="main">
		<article>
			<header>
				<h1>{{ .Params.name.full }}</h1>
			</header>
			<figure>
				<img src="{{ .Params.photo }}" />
			</figure>
			<section class="content">
			<h2>About</h2>
			{{ .Content }}
			{{ with .Params.twitter }}
				<p>
					<a href="https://twitter.com/{{ substr . 1 }}">
						Follow {{ $.Params.name.first }} on Twitter {{ $.Params.twitter}}
					</a>
				</p>
			{{ end }}
			<h2>Articles</h2>
			<ul>
				{{ range .Data.Pages }}
					<li>
						<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<p>{{ .PublishDate.Format "Monday, January 3, 2006"}}</p>
					</li>
				{{ end }}
			</ul>
			</section>
		</article>
	</main>
{{ end }}
