{{ define "main" }}
<main id="main" class="home background-image" style="background-image:url({{(print "/img/" .Params.thumbnail.type "/" .Params.thumbnail.src "." .Params.thumbnail.type) }});" title="{{.Params.thumbnail.alt}}">
		{{ .Content }}
		<section id="prayerWalk" class="block">
			<a href="/join/prayer-walk/">
				<article>
					<h2>Prayer Walk<br/>Day&nbsp;<span id="prayerWalkDay"><span></h2>
					<p>Join us for our daily prayer walk!</p>
					<p>Every day we pray for and with our neighbors outside a local park, prison, school, government building, or landmark.</p>
				</article>
			</a>
		</section>
		<section id="sunday" class="block">
			<article>
				<a href="/join/sunday/">
					<h2>Sunday<br/>5:30&nbsp;p.m.</h2>
				</a>
				<p>We’re getting together for prayer and communion—and you’re invited!</p>
			<span class="give-button"><a href="/contact/" title="Let us know you’re coming">Let Us Know You’re Coming</a></span>
			</article>
		</section>
		<section id="support" class="block">
			<article>
				<a href="/support/">
					<h2>Make a Difference</h2>
				</a>
				<p>Support the ministry of LoopNaz to our neighbors in greatest need.</p>
				<span class="give-button"><a href="https://secure.egsnetwork.com/donate/9B26B96F2E1246C" title="Give to LoopNaz through the Chicago Central District">Make a Gift</a></span>
			</article>
		</section>
	</main>
{{ end }}
